__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
test.py
.env
.env.*
!.env.example
src/data_loader/*.parquet
src/data_loader/vp/*.parquet
logs/
*.log
.vscode/
.idea/
*.swp
*.swo
.DS_Store
venv/
.venv/
.uvlook
.uvlook/
.uvlook.*